In [1]:
import pandas as pd
import numpy as np

In [115]:
# imports the csv file, skips first 13 rows removing prelude text

df = pd.read_csv("table-55.csv", skiprows=13)

In [123]:
#prints current version to the notebook 
print(df.head(5))

  CAH_level_marker          CAH_level_subject Level_of_qualification  \
0      CAH level 1  01 Medicine and dentistry                    All
1      CAH level 1  01 Medicine and dentistry                    All
2      CAH level 1  01 Medicine and dentistry                    All
3      CAH level 1  01 Medicine and dentistry                    All
4      CAH level 1  01 Medicine and dentistry                    All

  Mode_of_study Academic_Year     Age_group  Number
0     Full-time       2019/20  20 and under     120
1     Full-time       2019/20         21-24    8450
2     Full-time       2019/20         25-29    4825
3     Full-time       2019/20   30 and over    2420
4     Full-time       2019/20       Unknown       0

In [124]:
#Gets rid of all the spacing in column names and replaces with _ for easier 
#parsing

df.columns = df.columns.str.replace(' ', '_')

In [126]:
#Drops not needed colums 

df1 = df.drop(columns=['CAH_level_marker', 'Academic_Year'])

In [127]:
print(df)

      CAH_level_marker          CAH_level_subject Level_of_qualification  \
0          CAH level 1  01 Medicine and dentistry                    All
1          CAH level 1  01 Medicine and dentistry                    All
2          CAH level 1  01 Medicine and dentistry                    All
3          CAH level 1  01 Medicine and dentistry                    All
4          CAH level 1  01 Medicine and dentistry                    All
...                ...                        ...                    ...
24265      CAH level 3                      Total      All undergraduate
24266      CAH level 3                      Total      All undergraduate
24267      CAH level 3                      Total      All undergraduate
24268      CAH level 3                      Total      All undergraduate
24269      CAH level 3                      Total      All undergraduate

      Mode_of_study Academic_Year     Age_group  Number
0         Full-time       2019/20  20 and under     120
1         Full-time       2019/20         21-24    8450
2         Full-time       2019/20         25-29    4825
3         Full-time       2019/20   30 and over    2420
4         Full-time       2019/20       Unknown       0
...             ...           ...           ...     ...
24265     Part-time       2019/20         21-24    9805
24266     Part-time       2019/20         25-29    8165
24267     Part-time       2019/20   30 and over   20850
24268     Part-time       2019/20       Unknown       0
24269     Part-time       2019/20         Total   39500

[24270 rows x 7 columns]

In [120]:
# removes rows where the subject colum has values of Total
df2 = df1[df1['CAH_level_subject'].str.contains("Total")==False]

In [121]:
# filters data down to only where the subject field contains Medicine
df3 = df2[df2['CAH_level_subject'].str.contains("Medicine")]

In [122]:
# filters data further to display only undergraduate data 
df4 = df3[df3['Level_of_qualification'].str.contains("All undergraduate")]

In [129]:
df4.to_csv('out.csv')